extends layout

block content
  h1 Error!
  h2 Code #{code}
  br
  - if( message.msg)
    h2 message
    pre #{message.msg}
  - if (error)
    h2 error
    pre #{error}
  - if (stacktrace)
    h2 stacktrace
    pre #{stacktrace}
