doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/bootstrap-3.3.2-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/dist/jquery-2.1.3.min.js')
    script(src='/dist/bootstrap-3.3.2-dist/js/bootstrap.min.js')
  body
    block content