extends layout
block content
    div.container(style="margin: 0;")
        h1= title
        p.
            Welcome to #{title}

        div#repository
            h3 Choose a Repository:
            p
            form#submitForm(method="GET" action='/transit')

                div.row.form-group
                    div.col-xs-3.right-align
                        label Repository Title
                    div.col-xs-4
                        input#repositoryPath(type="text" name='repo' autofocus='true' required).full-width.form-control
                    div.col-xs-offset-5
                div.row.form-group
                    div.col-xs-3.right-align
                        label Repository Path (As a file path, eg. `/home/f/git/foobar`)
                    div.col-xs-4
                        input#repositoryPath(type="text" name='repopath' required=).full-width.form-control
                    div.col-xs-offset-4
                div.row.form-group
                    div.col-xs-3
                        
                    div.col-xs-4.right-align
                        input#goButton(type='submit').btn.btn-default.btn-primary.btn-lg
                        div#message(style="display: none;")
                            span#loadingIcon.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
                            span(style='margin-left: 5px;') Please wait; loading transit...
                    div.col-xs-offset-5
            p
            
        script.
            $('#submitForm').on('submit', function(event) {
                console.log('submit event triggered:', event);
                $('#message').show();
                $('#goButton').hide();
            });
